<div class="container">
  <h2>Gestion des Participants pour l'Événement {{ evenementId }}</h2>

  <div *ngIf="message" class="alert alert-success">{{ message }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div class="mb-4">
    <h3>Sélectionner un Participant</h3>
    <form (submit)="inscrireParticipant(); $event.preventDefault()">
      <label for="participantSelect">Participants</label>
      <select id="participantSelect" class="form-control" [(ngModel)]="selectedParticipantId" name="participant">
        <option *ngFor="let participant of allParticipants" [value]="participant.id"
          [disabled]="isParticipantAlreadyInscrit(participant.id)">
          {{ participant.name }} ({{ participant.email }})
        </option>

      </select>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="!selectedParticipantId">
        Inscrire le Participant
      </button>
    </form>
  </div>

  <div class="mt-5">
    <h3>Participants Inscrits</h3>
    <ul *ngIf="participantsInscrits.length > 0">
      <li *ngFor="let participant of participantsInscrits">
        {{ participant.name }} ({{ participant.email }})
      </li>
    </ul>
    <p *ngIf="participantsInscrits.length === 0">Aucun participant inscrit.</p>
  </div>
</div>
