/* General styles for the navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
}

.logo {
  width: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Auth buttons styling */
.auth-buttons a {
  background: none;
  padding: 0.5rem 1.25rem;
  margin-left: 0.5rem;
  border-radius: 20px;
  font-size: 0.875rem;
  color: #0569d4;
  border: 1px solid #0569d4;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.auth-buttons a:first-child {
  background-color: transparent;
  border-color: #0569d4;
}

.auth-buttons a:last-child {
  background-color: #0569d4;
  color: white;
}

.auth-buttons a:hover {
  background-color: #0056b3;
  color: white;
}

/* Logo size adjustments */
.navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Select styling */
.auth-select {
  font-size: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid #0569d4;
  cursor: pointer;
  color: #333;
  background-color: white;
  appearance: none;
  position: relative;
}

.auth-select-container {
  display: flex;
  align-items: center;
  position: relative;
}

.auth-select-container::after {
  content: '▼';
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 0.9rem;
  color: #0569d4;
  margin-left: 8px;
  /* Ajoute de l'espace entre le texte et la flèche */
}
